<!DOCTYPE html>

<html>
  <head>
    <title>Ortholog Group Descriptions</title>
    <link rel="stylesheet" href="/stanza/assets/stanza.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    {{#each css_uri}}
    <link rel="stylesheet" href="{{this}}" />
    {{/each}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    var frame_height = 290;
    function init() {
        adjust_iframe_height();
    }
    function adjust_iframe_height(height_px) {
      var height = 0;
      //var name = parent.document.getElementsByTagName('iframe')[0].id;
      console.log(name);
      if(height_px) {
        height = height_px;
      } else {
        //height = document.body.offsetHeight + 500;
        height = document.body.offsetHeight - 15;
      }
      parent.postMessage(JSON.stringify({height: height, id: name}), "*");
    }
    </script>

   <!-- {{adjust_iframe_height_script}}-->
  </head>

  <body onload="init()">
    {{#if features}}
     <table id="contents-table">
   <!--     <caption height=>{{title}}</caption> -->
        <tbody>
	
        {{#each features}}
            <tr>
              <th class="span3">Name</th>
              <td class="span9">
                 {{label}}
              </td>
            </tr>
            <tr>
              <th class="span3">Description</th>
              <td class="span9">
                 {{desc}}
              </td>
            </tr>
            <tr>
              <th class="span3">Member count</th>
              <td class="span9">
                 {{num}}
              </td>
            </tr>

         {{/each}}
        </tbody>
      </table>
     {{else}}
     No items found
   {{/if}}
  </body>
</html>
